
<!DOCTYPE html>
<html lang="en">
<head>
    <%-constants.HTML_DATA.HEAD_ELEMENTS%>
    <title><%= constants.SITE_NAME %> : Live Scores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=<%= constants.KEYWORDS %> />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <!--// css -->
    <!-- font-awesome icons -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- font -->
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <!-- light-box -->
    <link rel="stylesheet" href="/css/lightbox.css">
    <!-- //light-box -->
    <!-- <script src="js/SmoothScroll.min.js"></script> -->
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>

</head>
<body>
<!-- banner -->
<div class="banner">
    <div class="banner-dot">
        <!-- header-top -->
        <%-constants.HTML_DATA.header_top%>
        <!-- //header-top -->
        <!--header-->
        <%- constants.HTML_DATA.header%>
        <!--//header-->
        <!-- banner-info -->
        <!-- //banner-info -->

        <div class='score_container' style="align-content: center" ><script type="text/javascript" src="https://widget.enetscores.com/FW3FE5F04E90FC2EE5"></script></div>
    </div>
</div>
<!-- //banner -->
<!-- welcome -->
<div class="welcome" id="about">

</div>
<!-- //welcome -->
<!-- footer -->
<%-constants.HTML_DATA.footer%>
<!-- //footer -->
<script src="/js/jarallax.js"></script>
<script type="text/javascript">
    /* init Jarallax */
    $('.jarallax').jarallax({
        speed: 0.5,
        imgWidth: 1366,
        imgHeight: 768
    })
</script>

<script src="/js/responsiveslides.min.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<!-- here stars scrolling icon -->
<script type="text/javascript">

    $('.wff_bottom_banner_styles').hide();
    $('.wff_floating_banner_styles').hide();
    $('.wff_link_container').hide();
    $('.wff_link_enetscores').hide();
    $('.wff_link_enetpulse').hide();
    $('.wff_floating_banner_text').hide();
    $(document).ready(function() {
        setInterval(function () {
            $('.wff_bottom_banner_styles').hide();
            $('.wff_floating_banner_styles').hide();
            $('.wff_link_container').hide();
            $('.wff_link_enetscores').hide();
            $('.wff_link_enetpulse').hide();
            $('.wff_floating_banner_text').hide();
        },1 * 1000)
    });

</script>
<!-- //here ends scrolling icon -->
</body>
<style>
    .score_container {
        align-items: center;
        align-content: center;
        margin-left: 12%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
</style>
</html>