
<!DOCTYPE html>
<html lang="en">
<head>
    <%-constants.HTML_DATA.HEAD_ELEMENTS%>
    <title><%= constants.SITE_NAME %> TAGS ADMIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=<%= constants.KEYWORDS %> />
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <!--// css -->
    <!-- font-awesome icons -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- font -->
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
    <!-- //font -->
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <!-- light-box -->
    <link rel="stylesheet" href="/css/lightbox.css">
    <!-- //light-box -->
    <!-- <script src="js/SmoothScroll.min.js"></script> -->
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>

</head>
<body>
<!-- banner -->
<div class="banner">
    <div class="banner-dot">
        <!-- header-top -->
        <%-constants.HTML_DATA.header_top%>
        <!-- //header-top -->
        <!--header-->
        <%- constants.HTML_DATA.header%>
        <!--//header-->
        <!-- banner-info -->
        <div class="banner-info" style="display: contents">
            <div class="container">
                <div class="w3layouts-text">
                    <label></label>
                    <h2>Tags Admin Tools</h2>
                </div>
            </div>
        </div>
        <!-- //banner-info -->
    </div>
</div>
<!-- //banner -->
<!-- welcome -->
<div class="welcome" id="about">
    <div class="container">
        <div class="col-md-6 w3l-contact-form">
            <input type="text" name="secretkey" placeholder="Enter your secret key before taking any action">
            <hr/>
            <input type="text" name="source" placeholder="Source Tag">
            <input type="text" name="destination" placeholder="Destination Tag">
            <input type="text" name="bid" placeholder="Enter 1 to add the bi-directional link">
            <input type="submit" id="add-tag-submit" value="ADD">
            <input type="submit" id="remove-tag-submit" value="REMOVE">
            <img src="/images/loading.gif" id="loader_add_remove_tag" style="display: none"><img>
            <div id="message_add_remove_tag" style="margin-top: 10px;"></div>
            <hr/>
            <hr/>
            <input type="text" name="node" placeholder="Tag">
            <input type="submit" id="add-node-submit" value="ADD">
            <input type="submit" id="remove-node-submit" value="REMOVE">
            <img src="/images/loading.gif" id="loader_add_remove_node" style="display: none"><img>
            <div id="message_add_remove_node" style="margin-top: 10px;"></div>
            <hr/>
            <input type="text" name="post_id" placeholder="Article ID to re-tag">
            <input type="submit" id="re-tag-submit" value="RE-TAG">
            <img src="/images/loading.gif" id="loader_re_tag" style="display: none"><img>
            <div id="message_re_tag" style="margin-top: 10px;"></div>
            <hr/>
            <input type="text" name="query_db" placeholder="Query">
            <input type="submit" id="query-submit" value="RUN">
            <img src="/images/loading.gif" id="loader_query" style="display: none"><img>
            <div id="message_query" style="margin-top: 10px;"></div>
            <hr/>
        </div>

        <div class="col-md-6 w3l-contact-form">
            <h3>SUGGESTED TAGS</h3>
            <p id="suggested-tags" style="overflow-wrap: break-spaces">
                <%=suggestedTags.join(", ")%>
            </p>
            <hr/>
        </div>

        <div class="clearfix"> </div>
    </div>
</div>
<!-- //welcome -->
<!-- footer -->
<%-constants.HTML_DATA.footer%>
<!-- //footer -->
<script src="/js/jarallax.js"></script>
<script type="text/javascript">
    /* init Jarallax */
    $('.jarallax').jarallax({
        speed: 0.5,
        imgWidth: 1366,
        imgHeight: 768
    })
</script>
<script src="/js/responsiveslides.min.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        $("#add-tag-submit").click(function (event) {
            var formData = {
                'source': $('input[name=source]').val(),
                'destination': $('input[name=destination]').val(),
                'secret_key' : $('input[name=secretkey]').val(),
                'bid' : $('input[name=bid]').val()
            }
            $('#message_add_remove_tag').hide();
            $('#loader_add_remove_tag').show();
            $.post("/articles/tags/addedge", formData,  function(data) {
                $('#message_add_remove_tag').text(data.message || '');
                $('#message_add_remove_tag').show();
                $('#loader_add_remove_tag').hide();
            });
        });
        $("#remove-tag-submit").click(function (event) {
            var formData = {
                'source': $('input[name=source]').val(),
                'destination': $('input[name=destination]').val(),
                'secret_key' : $('input[name=secretkey]').val(),
                'bid' : $('input[name=bid]').val()
            }
            $('#message_add_remove_tag').hide();
            $('#loader_add_remove_tag').show();
            $.post("/articles/tags/deleteedge", formData,  function(data) {
                $('#message_add_remove_tag').text(data.message || '');
                $('#message_add_remove_tag').show();
                $('#loader_add_remove_tag').hide();
            });
        });
        $("#add-node-submit").click(function (event) {
            var formData = {
                'nodesToAdd': $('input[name=node]').val(),
                'secret_key' : $('input[name=secretkey]').val()
            }
            $('#message_add_remove_node').hide();
            $('#loader_add_remove_node').show();
            $.post("/articles/tags/addnodes", formData,  function(data) {
                $('#message_add_remove_node').text(data.message || '');
                $('#message_add_remove_node').show();
                $('#loader_add_remove_node').hide();
            });
        });
        $("#remove-node-submit").click(function (event) {
            var formData = {
                'nodesToRemove': $('input[name=node]').val(),
                'secret_key' : $('input[name=secretkey]').val()
            }
            $('#message_add_remove_node').hide();
            $('#loader_add_remove_node').show();
            $.post("/articles/tags/removenodes", formData,  function(data) {
                $('#message_add_remove_node').text(data.message || '');
                $('#message_add_remove_node').show();
                $('#loader_add_remove_node').hide();
            });
        });

        $("#re-tag-submit").click(function (event) {
            var formData = {
                'post_id': $('input[name=post_id]').val(),
                'secret_key' : $('input[name=secretkey]').val()
            }
            $('#message_re_tag').hide();
            $('#loader_re_tag').show();
            $.post("/articles/retag", formData,  function(data) {
                $('#message_re_tag').text(data.message || '');
                $('#message_re_tag').show();
                $('#loader_re_tag').hide();
            });
        });

        $("#query-submit").click(function (event) {
            var formData = {
                'query_db': $('input[name=query_db]').val(),
                'secret_key' : $('input[name=secretkey]').val()
            }
            $('#message_query').hide();
            $('#loader_query').show();
            $.post("/articles/runquery", formData,  function(data) {
                $('#message_query').text(data.message || '');
                $('#message_query').show();
                $('#loader_query').hide();
            });
        });
        $().UItoTop({ easingType: 'easeOutQuart' });
    });

</script>
<!-- //here ends scrolling icon -->
</body>

<style>
    .highcharts-figure, .highcharts-data-table table {
        min-width: 320px;
        max-width: 800px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }
    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }
    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }
    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }
    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }
    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }


    input[type="number"] {
        min-width: 50px;
    }
</style>
</html>